<footer>
  <div class="container">
    <div class="footer-col">
      <a href=" ">Last build on {{site.time | date: '%Y-%m-%d'}}</a>
    </div>
    <div class="footer-col">
      <a href=" ">Copyright © 2024 Windyan. All Rights Reserved.</a>
    </div>
    <!-- <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://twitter.com/domoritz">@domoritz</a> on Twitter, <a rel="me" href="https://vis.social/@dom">@dom@vis.social</a> on the Fediverse, and <a href="https://bsky.app/profile/domoritz.de">@domoritz.de</a> on Bluesky.</div> -->
  </div>
</footer>
