{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <h1 id="typewriter">Hi, I'm  Yan Luo (罗琰)</h1>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const typewriter = document.getElementById('typewriter');
    const text = typewriter.textContent;
    typewriter.textContent = '';
    let index = 0;

    function type() {
      if (index < text.length) {
        typewriter.textContent += text.charAt(index);
        index++;
        setTimeout(type, 100); // 调整打字速度
      } else {
        // 打字完成后移除光标
        typewriter.classList.add('finished');
      }
    }

    type();
  });
</script>
    <img src="capoo2.gif" height="80px" width="140px" />
    <!-- <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a> -->

    <!-- <a href="{{ '/blog/' | relative_url }}" {% if current[1] == 'blog' %}aria-current="page"{% endif %}>Blog</a> -->
    <!-- <a href="{{ '/projects/' | relative_url }}" {% if current[1] == 'projects' %}aria-current="page" {% endif %}>Projects</a>
    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}aria-current="page"{% endif %}>Publications</a>
    <a href="{{ '/talks/' | relative_url }}" {% if current[1] == 'talks' %}aria-current="page"{% endif %}>Talks</a>
     -->
    <!-- <a href="{{ '/cv/' | relative_url }}" {% if current[1] == 'cv' %}aria-current="page"{% endif %}>CV</a> -->
    <!-- <span class="external">
      <a href="https://github.com/yanluo0913" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i> GitHub</a>
    </span> -->

    <!-- <span class="external">
      <a href="mailto:yluodj@connect.ust.hk"><i class="fa-solid fa-envelope" aria-hidden="true"></i> Email</a>
    </span> -->
  </nav>
</header>
