{% assign preview_link = project.pdf | default: project.arxiv %}
<div class="project">
  <div class="content">
    {% if preview_link %}
      <a href="{{ preview_link }}" class="preview-image" style="background-image: url('{{ "/images/publications/" | append: project.image | relative_url }}')"></a>
    {% endif %}

    <div class="text">
      <div class="title">{{ project.title }}</div>
      <p>{{ project.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      <div class="c">{{ project.con | markdownify | remove: '<p>' | remove: '</p>' }}</div>
      <div class="spacer"></div>

      {% if project.pdf or project.arxiv %}
        <div class="links">
          {% if project.pdf %}
            <a href="{{ project.pdf }}"><i class="far fa-file-pdf" aria-hidden="true"></i> PDF</a>
          {% endif %}
          {% if project.arxiv %}
            <a href="{{ project.arxiv }}"><i class="fas fa-archive" aria-hidden="true"></i> ArXiv</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
